<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class='navbar-header'>
            <a href="#" ng-click="panel.selectTab(0)" class="navbar-brand">
                <img alt="Servicentro" src="img/customLogo.png" />
            </a>
            <button class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-nav' type='button'>
                <span class='sr-only'>menu</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li ng-class="{ active:panel.isSelected(1)}">
                <a href="#" ng-click="panel.selectTab(1)"><i class="fa fa-question"></i> conócenos</a>
            </li>
            <li ng-class="{ active:panel.isSelected(2)}">
                <a href="#" ng-click="panel.selectTab(2)"><i class="fa fa-music"></i> música</a>
            </li>
            <li ng-class="{ active:panel.isSelected(3)}">
                <a href="#" ng-click="panel.selectTab(3)"><i class="fa fa-book"></i> letras</a>
            </li>
            <li ng-class="{ active:panel.isSelected(4)}">
                <a href="#" ng-click="panel.selectTab(4)"><i class="fa fa-picture-o"></i> galeria</a>
            </li>
            <li>
                <a href="#" data-toggle='dropdown'><i class="fa fa-group"></i> redes sociales<span class='caret'></span></a>
                <ul class='dropdown-menu'>
                    <li><a href="//facebook.com/Servicentrocl" target="_blank"><i class="fa fa-facebook"></i> facebook</a></li>
                    <li><a href="//youtube.com/channel/UCzh_MtK7xNV14i4THYnUYIQ" target="_blank"><i class="fa fa-youtube"></i> youtube</a></li>
                    <li><a href="//twitter.com/Servicentro_cl" target="_blank"><i class="fa fa-twitter"></i> twitter</a></li>
                    <li><a href="//reverbnation.com/servicentro" target="_blank"><i class="glyphicon glyphicon-star"></i> reverbnation</a></li>
                    <li><a href="//soundcloud.com/servicentro" target="_blank"><i class="fa fa-soundcloud"></i> soundcloud</a></li>
                </ul>
            </li>
            <li class='divider'></li>
            <li ng-class="{ active:panel.isSelected(6)}"><a href="#" ng-click="panel.selectTab(6)"><i class="fa fa-envelope"></i> contactanos</a></li>
        </ul>
    </div>
</div>