html {
    height: 100%;
}

body {
    height: 100%;
}

.navbar-brand > img {
    max-height: 1em;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.fondo {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-position-x: right;
    background-position-y: top;
}

.fondoInicio {
    background-image: url('../images/Fondo.jpg');
}

.fondoQuienesS {
    background-image: url('../images/Fondo2.jpg');
}

.fondoMusica {
  background-image: url('../images/Fondo3.jpg');
}

.fondoLetra {
  background-image: url('../images/Fondo4.jpg');
}

.fondoMedia {
  background-image: url('../images/Fondo5.jpg');
}

#musica {
    background-color: red;
}

#letra{
    background-color: blue;
}

#media{
    background-color: green;
}

menu-panel {
    height: 100%;
}

.servicentro-font {
    font-family: 'Magneto';
}

.capture-it-font {
  font-family: 'CaptureIt';
}

#letra h4 {
  font-family: 'Magneto'!important;
  font-weight: normal!important;
  text-transform: none;
}

.panel-letra {
  background-color: #372F2C;
  color: darkgray;
}

.panel-heading-letra {
  color: darkgray !important;
  background-color: #222222 !important;
  border-color: #000000 !important;
}

.no-border {
  border: 0 !important;
}

.logo {
  color: #ffffff !important;
}

.logo-rojo{
  color: rgb(243,41,39);
}

.texto-portada {
    margin: 0;
    padding: 30px;
    bottom: 0;
    position: absolute;
    font-size: 9.5vw !important;
    text-shadow: none !important;
}

.padding-fondo {
    padding-top: 120px;
}

.texto-sobre-imagen {
    color: white;
    text-shadow: gray 1px 1px 2px;
}

    .texto-sobre-imagen p {
        font-size: 3vw;
    }

blockquote {
    border: none;
    font-style: italic;
    padding-top: 0;
    font-size: 3vw;
}

.parrafo-conocenos {
  font-size: 2vw !important;
}

.box {
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.galeria ul li img {
    cursor: pointer;
}

.carousel {
  height: 44vw;
  max-height: 90%;
}

/*.carousel,.item,.active{height:90%;}*/
.carousel-inner{
  height:100%;
  width: 100%;
  left: 0%;
}


/*.carousel {
    overflow: hidden;
}
.carousel-inner {
    width: 150%;
    left: -25%;
}
.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
}
.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
}
.carousel-control.left,
.carousel-control.right {
    background: rgba(255, 255, 255, 0.3);
    width: 25%;
}*/

@media screen and (orientation: portrait) {
  img.car { height: 110%; }
}

@media screen and (orientation: landscape) {
  img.car { width: 110%; }
}

@font-face {
    font-family: 'Magneto';
    font-style: normal;
    font-weight: 400;
    src: local('Magneto'), local('Magneto'), url('../fonts/magnetob.svg') format('svg'),url('../fonts/magnetob.woff') format('woff'), url('../fonts/magnetob.ttf') format('truetype');
}

@font-face {
    font-family: 'CaptureIt';
    font-style: normal;
    font-weight: 400;
    src: local('CaptureIt'), local('CaptureIt'), url('../fonts/captureIt.ttf') format('truetype');
}
