<section id="conocenos" class='fondo fondoQuienesS container-fluid'>
    <div class="row">
        <div class="col-xs-push-1 col-xs-10 text-center">
            <blockquote class="texto-sobre-imagen">"Somos un punto de encuentro en el camino, una banda, una experiencia de Rock."</blockquote>
            <p class="texto-sobre-imagen parrafo-conocenos">Detente un momento y escucha, celebra, ama y carga energías. Luego puedes continuar tu ruta, en tu maleta… hemos dejado un mensaje.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 top-buffer hidden">
            <h4 class="std-font">Yo Le Diré</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_EKQqzKMUIs?rel=0&showinfo=0"></iframe>
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-4 top-buffer">
            <h4 class="std-font">Mall De Las Almas</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/8Kxdy7_7gO0?rel=0&showinfo=0"></iframe>
            </div>
        </div>
    </div>
</section>
