<section id="conocenos" class='fondo fondoQuienesS container-fluid'>
    <div class="row">
        <div class="col-xs-push-1 col-xs-10 text-center top-buffer">
            <blockquote class="texto-sobre-imagen">"Somos un punto de encuentro en la ruta que recorren los jóvenes Laicos y Cristianos."</blockquote>
            <p class="texto-sobre-imagen">Un lugar lleno de luces, música y guitarras en que se detienen, comparten, celebran y recargan sus energías para continuar el viaje, llevando en la maleta un mensaje… que a veces pasará desapercibido y otras será más explícito, pero que siempre los acompañará en la ruta, vengan de donde vengan y vayan donde vayan.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 top-buffer">
            <!--<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/K6zTr_4Kmys?rel=0&showinfo=0"></iframe>
            </div>-->
        </div>
    </div>
</section>