<footer id="contacto" class='footer'>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Servicentro 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="//plus.google.com/108680490166455718892/posts"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a href="//www.facebook.com/Servicentrocl/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="//www.youtube.com/watch?v=0KNsVDvubm8"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="mailto:contacto@servicentro.cl">contacto@servicentro.cl</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
