<header class='fondo fondoInicio container-fluid'>
  <!--<img class="img-responsive fondoLogo" src="img/customLogo.png" />-->
  <div class="container">
    <div class="row" style="padding-top: 300px; padding-bottom: 200px">
      <div class="col-sm-5 top-buffer">
        <!--<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/XMJMVZbm6Zo?rel=0&showinfo=0"></iframe>
            </div>-->
      </div>
    </div>
    <h1 class="servicentro-font texto-portada texto-sobre-imagen">Catolicos Haciendo <span>ROCK!</span> </h1>
  </div>
</header>
<conocenos></conocenos>
<musica></musica>
<letra></letra>
<media></media>
<footer-sitio></footer-sitio>
