<header class='fondo fondoInicio container-fluid'>
  <!--<img class="img-responsive fondoLogo" src="img/customLogo.png" />-->
  <div class="container-fluid">
    <div class="row" style="padding-top: 100px;">
      <div class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
        <!--<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/XMJMVZbm6Zo?rel=0&showinfo=0"></iframe>
            </div>-->
      </div>
      <div class="panel col-sm-offset-5 col-md-offset-6">
        <div class="panel-body">
          <div class="col-sm-6">
            <img style="height: 200px;" src="https://cdbaby.name/s/e/servicentro_large.jpg" alt="Kilómetro 1">
            <h4 class="std-font">Kilómetro 1</h4>
          </div>
          <div class="col-sm-6">
            <div>
                <span class="std-font">Disco Físico</span>
            </div>
            <div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScaiqZupSp7rCVdBaF43aHgN27xBsztsKpF0gwiwqzPEvLNBA/viewform" class="btn btn-default">Comprar Disco Físico</a>
            </div>
            <br />
            <div>
                <span class="std-font">Disco Digital</span>
            </div>
            <div>
                <a href="https://www.cdbaby.com/cd/servicentro" target="cdbaby" style="display:inline-block;background:url(http://content.cdbaby.com/img/links/link-dark-buy-album.png) no-repeat;width:124px;height:39px;" title="Servicentro: Kilómetro 1" alt="Servicentro: Kilómetro 1" ></a>
            </div>
          </div>
        </div>
    </div>

    </div>
    <div class="texto-sobre-imagen">
      <p class="servicentro-font logo texto-portada">Servi<span class="logo-rojo">c</span>entro</p>
    </div>
  </div>
</header>
<conocenos></conocenos>
<musica></musica>
<letra></letra>
<media></media>
<footer-sitio></footer-sitio>
