<section id="letra" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default top-buffer">
                <div class="panel-body">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingGusanoBacan">
                                <h4 class="panel-title">
                                    <span class="collapsed" role="button" data-target="#gusanoBacan" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="gusanoBacan">
                                        Gusano Bacán
                                    </span>
                                </h4>
                            </div>
                            <div id="gusanoBacan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGusanoBacan">
                                <div class="panel-body">
                                    <p class="text-center">
                                        Grandes profesores libros de colores no me podrán enseñar.
                                        <br>Bellas emociones pueden ser veneno cuando no te saben amar.
                                        <br>Sacúdeme fuerte fuera de mi mente porque no te puedo pasar.
                                        <br>Quise respetarla quise comprenderla pero soy gusano bacán.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Esa rebeldía tonta de una niña que recién comienza a pecar.
                                        <br>Es cierto que nada es como lo pintan y a ti no te pintan más.
                                    </p>
                                    <p class="text-center">Acuérdate de mí, dios acuérdate de mí.</p>
                                    <p class="text-center">
                                        <em>(Solo)</em>
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Esa rebeldía tonta de una niña que recién comienza a pecar.
                                        <br>Es cierto que nada es como lo pintan y a ti no te pintan más.
                                    </p>
                                    <p class="text-center">Acuérdate de mí, acuérdate señor de mí.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingNoMeDejesIr">
                                <h4 class="panel-title">
                                    <span class="collapsed" role="button" data-target="#noMeDejesIr" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="noMeDejesIr">
                                        No Me Dejes Ir
                                    </span>
                                </h4>
                            </div>
                            <div id="noMeDejesIr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNoMeDejesIr">
                                <div class="panel-body">
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>Esa soledad te quiere agarrar para seguir el castigo.
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>La capacidad de poder amar todo lo que se ha perdido.
                                    </p>
                                    <p class="text-center">
                                        No me dejes ir a ningún lugar, donde tú puedas faltarme
                                        <br>para hacerle frente a la soledad y a su frío delirante.
                                        <br>Abrázame fuerte, háblame despacio, cúbreme con tu regazo.
                                        <br>Sálvame de ir a la oscuridad, acompáñame, dame tu Luz.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>Esa soledad te quiere agarrar para seguir el castigo.
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>La capacidad de poder amar todo lo que se ha perdido.
                                    </p>
                                    <p class="text-center">
                                        No me dejes ir a ningún lugar, donde tú no estés presente.
                                        <br>Yo no puedo solo yo no soy capaz, como tú fuiste valiente.
                                        <br>Esa madrugada sin preguntar nada, te entregaste enamorada.
                                        <br>Para ser la Reina de amor y dolor, te clavaste en este corazón.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>Esa soledad te quiere agarrar para seguir el castigo.
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>La capacidad de poder amar todo lo que se ha perdido.
                                    </p>
                                    <p class="text-center">
                                        <em>(Solo)</em>
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>Esa soledad te quiere agarrar para seguir el castigo.
                                        <br>Si aún no has conocido Amor Divino.
                                        <br>La capacidad de poder amar todo lo que se ha perdido.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingArmadurasPartidas">
                                <h4 class="panel-title">
                                    <span class="collapsed" role="button" data-target="#armadurasPartidas" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="armadurasPartidas">
                                        Armaduras Partidas
                                    </span>
                                </h4>
                            </div>
                            <div id="armadurasPartidas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingArmadurasPartidas">
                                <div class="panel-body">
                                    <p class="text-center">
                                        Disculpe la pretensión, no quisiera ofenderte.
                                        <br>Pero siendo sincero, tiempo sin verte.
                                        <br>Desde un rato a esta parte me han venido siguiendo,
                                        <br>Buscando sofocarme como si fuera incendio.
                                    </p>
                                    <p class="text-center">
                                        Si tú me ayudas podemos hacer
                                        <br>Que el sordo escuche y volver a ver
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Templos llenos de armaduras partidas
                                        <br>Por los niños y cantos de bienvenida
                                        <br>Calles llenas de sonrisas diferentes
                                        <br>Y el abrazo de el que cree nuevamente
                                    </p>
                                    <p class="text-center">
                                        Disculpe la pretensión, no tengo el derecho
                                        <br>Pero siendo sincero… ¿qué te habías hecho?
                                        <br>Porque hay dos o tres Judas que no entienden razones
                                        <br>Te condenan y pagan justos por pecadores
                                    </p>
                                    <p class="text-center">
                                        Si tú me ayudas podemos hacer
                                        <br>Aseo en la casa y volver a ver
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Templos llenos de armaduras partidas
                                        <br>Por los niños y cantos de bienvenida
                                        <br>Calles llenas de sonrisas diferentes
                                        <br>Y el abrazo de el que cree nuevamente
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingLaPataleta">
                                <h4 class="panel-title">
                                    <span class="collapsed" role="button" data-target="#laPataleta" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="laPataleta">
                                        La Pataleta
                                    </span>
                                </h4>
                            </div>
                            <div id="laPataleta" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLaPataleta">
                                <div class="panel-body">
                                    <p class="text-center">
                                        Cada vez que te busqué, acortando las distancias,
                                        <br>el destino me cayó, como paloma en la espalda.
                                        <br>Si es difícil ser tu amigo ¿Cómo voy a estar contigo?
                                        <br>Si es difícil ser tu amigo ¿Cómo voy a estar contigo?
                                    </p>
                                    <p class="text-center">
                                        Si vamos a confesar, nadie tiene la paciencia,
                                        <br>de correr para ganar, hasta llegar a la meta.
                                        <br>Y tú te apareces para tirar la primera piedra.
                                        <br>Y tú te apareces para tirar la primera piedra.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Cada vez que me olvidas, muere un poco de mi vida.
                                        <br>Cada vez que me olvidas, muere un poco de mi vida.
                                    </p>
                                    <p class="text-center">
                                        Ahora me toca hablar y ya me estoy acordando,
                                        <br>De una historia singular, cuando te llevé en mis brazos.
                                        <br>Solo un par de huellas en la arena y pa´ que sigo hablando.
                                        <br>Solo un par de huellas en la arena y pa´ que sigo hablando.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Cada vez que me olvidas, muere un poco de mi vida.
                                        <br>Cada vez que me olvidas, muere un poco de mi vida.
                                    </p>
                                    <p class="text-center">
                                        <em>(Solo)</em>
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Cada vez que me olvidas, muere un poco de mi vida.
                                        <br>Cada vez que me olvidas, muere un poco de mi vida.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSaname">
                                <h4 class="panel-title">
                                    <span class="collapsed" role="button" data-target="#saname" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="saname">
                                        Sáname
                                    </span>
                                </h4>
                            </div>
                            <div id="saname" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSaname">
                                <div class="panel-body">
                                    <p class="text-center">
                                        Sáname por favor, que ya no puedo más escapar de tu amor.
                                        <br>Sáname… es tu voz la que está en mi interior de que puedo estar mejor
                                    </p>
                                    <p class="text-center">
                                        Dame fuerza, dame luz del sol
                                        <br>Porque sé que aunque duela me cuidará mi Dios
                                    </p>
                                    <p class="text-center">
                                        Debo empezar a caminar contigo
                                        <br>Orar, crecer, amar, creer y empezar a actuar
                                        <br>Sáname que no puedo por mi mismo
                                        <br>He caído en un abismo, sólo tú puedes salvarme Señor
                                    </p>
                                    <p class="text-center">
                                        Te quiero agradecer por mi familia y mis amigos
                                        <br>Me ayudaron a ver que siempre estarán conmigo
                                        <br>La soledad no me visitará porque los tengo a ellos
                                        <br>Y si un día se van
                                    </p>
                                    <p class="text-center">
                                        Tú me acompañarás, tú me guiarás
                                        <br>En cada uno de mis pasos, conmigo estarás
                                    </p>
                                    <p class="text-center">
                                        Sáname que quiero cantar,
                                        <br>al mundo quiero gritar que tú nos vienes a salvar.
                                        <br>Manifiéstate, estremece nuestro ser,
                                        <br>ayúdanos a creer para empezar a actuar y hacer el bien.
                                    </p>
                                    <p class="text-center">
                                        Sáname que quiero cantar,
                                        <br>al mundo quiero gritar que tú nos vienes a salvar.
                                        <br>Manifiéstate, estremece nuestro ser,
                                        <br>ayúdanos a creer para empezar a actuar y hacer el bien.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingManInBlack">
                                <h4 class="panel-title">
                                    <span class="collapsed" role="button" data-target="#manInBlack" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="manInBlack">
                                        Man In Black (Los Hijos del Amor)
                                    </span>
                                </h4>
                            </div>
                            <div id="manInBlack" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingManInBlack">
                                <div class="panel-body">
                                    <p class="text-center">
                                        Un hombre de negro bajó a golpear la puerta de mi corazón, con una sonrisa.
                                        <br>Me tendió la mano y habló de una casa nueva que no es de cartón, sin barro y sin cenizas.
                                    </p>
                                    <p class="text-center">
                                        Si tu no quieres venir me harás volver,
                                        <br>por Dios y por Jesús debes tener, vida diferente.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Somos los hijos del amor, bendito aquel que encuentre.
                                        <br>Alberto Hurtado lleva a Dios en camioneta verde, en camioneta verde.
                                    </p>
                                    <p class="text-center">
                                        Esta noche vengo Señor, a la rivera en que me descubrió, a buscar tus hijos.
                                        <br>Vestido de negro también, para ofrecer una vida mejor, y como el Santo dijo.
                                    </p>
                                    <p class="text-center">
                                        Si tu no quieres venir me harás volver,
                                        <br>por Dios y por Jesús debes tener, vida diferente.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Somos los hijos del amor, bendito aquel que encuentre.
                                        <br>Alberto Hurtado lleva a Dios en camioneta verde, en camioneta verde.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingYoleDire">
                                <h4 class="panel-title">
                                    <span class="collapsed" role="button" data-target="#yoLeDire" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="yoleDire">
                                        Yo le Diré
                                    </span>
                                </h4>
                            </div>
                            <div id="yoLeDire" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingYoleDire">
                                <div class="panel-body">
                                    <p class="text-center">
                                        Perdón señor, si lo que canto no es válido para usted,
                                        <br>o si toco en lo más hondo de su ser. ¿Y qué hay? Dirá usted, dirá usted.
                                        <br>Alguien me contó, que solo piensa en el trabajo y en el deber.
                                        <br>Que sufre por el dinero que se fue. ¿Y qué hay? Mire usted, mire usted.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Yo le diré, que el presente y el pasado no puede perder.
                                        <br>Que el futuro es importante por lo que no fue, mire usted.
                                        <br>Le encantará darse cuenta que su vida no termina acá.
                                        <br>Que hay una emoción que grita en la profundidad de su ser.
                                    </p>
                                    <p class="text-center">
                                        Alguien me contó, que solo piensa en el trabajo y en el deber
                                        <br>Que sufre por el dinero que se fue. ¿Y qué hay? Mire usted, mire usted.
                                    </p>
                                    <p class="text-center">
                                        <em>(Coro)</em>
                                        <br>Yo le diré, que el presente y el pasado no puede perder.
                                        <br>Que el futuro es importante por lo que no fue, mire usted.
                                        <br>Le encantará darse cuenta que su vida no termina acá.
                                        <br>Que hay una emoción que grita en la profundidad de su ser.
                                    </p>
                                    <p class="text-center">Cita con Dios el martes a las seis.</p>
                                    <p class="text-center">Él le dirá qué hacer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>