<section id="media" class="" style="padding: 0; height: 100%;" ng-controller="albumsController as albums">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="{{album.id-1}}" ng-class="{active:$first}" ng-repeat="album in albums.albums"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-class="{active:$first}" ng-repeat="album in albums.albums">
        <div class="baguetteBox{{album.id}}" style="height: 100%;">
          <div ng-repeat="foto in album.fotos" style="height: 100%;">
            <a href="images/galerias/{{album.ano}}{{album.nombre}}/{{album.ano}}-{{album.nombre}}-{{foto}}.jpg" data-caption="{{album.ano}} - {{album.nombre}} - {{album.ciudad}}, {{album.pais}}">
              <img class="car center-block" ng-show="$first" ng-src="images/galerias/{{album.ano}}{{album.nombre}}/{{album.ano}}-{{album.nombre}}-01.jpg" alt="{{album.ano}} - {{album.nombre}} - {{album.ciudad}}, {{album.pais}}">
            </a>
          </div>
        </div>
        <div class="carousel-caption">
          {{album.ano}} - {{album.nombre}} - {{album.ciudad}}, {{album.pais}}
        </div>
      </div>
      ..3
    </div>

    <!-- Controls -->
    <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
