<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class='navbar-header'>
      <a href="#page-top" class="navbar-brand servicentro-font logo" du-smooth-scroll du-scrollspy>
        <!--<img alt="Servicentro" src="images/customLogo.png" />-->Servi<span class="logo-rojo">c</span>entro
      </a>
      <button class='navbar-toggle' data-toggle='collapse' data-target='#menu' type='button'>
        <span class='sr-only'>menu</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" ng-controller="scrollController">
        <li>
          <a data-toggle="collapse" href="#conocenos" data-target=".navbar-nav" du-smooth-scroll du-scrollspy>conócenos</a>
        </li>
        <li>
          <a data-toggle="collapse" href="#musica" data-target=".navbar-nav" du-smooth-scroll du-scrollspy>música</a>
        </li>
        <li>
          <a data-toggle="collapse" href="#letra" data-target=".navbar-nav" du-smooth-scroll du-scrollspy>letra</a>
        </li>
        <li>
          <a data-toggle="collapse" href="#media" data-target=".navbar-nav" du-smooth-scroll du-scrollspy>galeria</a>
        </li>
        <li>
          <a data-toggle="collapse" href="#contacto" data-target=".navbar-nav" du-smooth-scroll du-scrollspy>contacto</a>
        </li>
      </ul>
    </div>
  </div>
</div>
