<section id="musica" class="fondo container-fluid fondoMusica">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="panel text-center">
                <div class="panel-body">
                    <div class="col-sm-6 hidden-xs">
                        <iframe src="https://open.spotify.com/embed?uri=spotify:album:11Y5PkMkyJxPxeMQq8ZudQ" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                    <div class="col-sm-6 hidden-sm hidden-md hidden-lg">
                        <iframe src="https://open.spotify.com/embed?uri=spotify:album:11Y5PkMkyJxPxeMQq8ZudQ" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                    <div class="col-sm-6">
                        <img style="height: 200px;" src="https://cdbaby.name/s/e/servicentro_large.jpg" alt="Kilómetro 1">
                        <h4 class="std-font">Kilómetro 1</h4>
                        <div>
                            <span class="std-font">Disco Físico</span>
                        </div>
                        <div>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScaiqZupSp7rCVdBaF43aHgN27xBsztsKpF0gwiwqzPEvLNBA/viewform" class="btn btn-default">Comprar Disco Físico</a>
                        </div>
                        <br />
                        <div>
                            <span class="std-font">Disco Digital</span>
                        </div>
                        <div>
                            <a href="https://www.cdbaby.com/cd/servicentro" target="cdbaby" style="display:inline-block;background:url(https://content.cdbaby.com/img/links/link-dark-buy-album.png) no-repeat;width:124px;height:39px;" title="Servicentro: Kilómetro 1" alt="Servicentro: Kilómetro 1" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
